:root {
    font-size: 100%;
    --basicgrey : #4b4c5F;
    --activeblack: #1E1F36;
    --hoverpink: #F47B56;
    --backwhite: #FFFFFF;
    --bordergrey: #e8e8ea;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    margin: 0;
}

::selection {
    background-color: #5B36A0;
    color: var(--hoverpink);
}

#view {
    background: linear-gradient(rgba(176, 103, 233, 1) 0%, rgba(100, 99, 231, 1)100%);
    width: 100svw;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}



 /* .schatten {
    width: 200px;
    position: absolute;
    filter: saturate(100%);
    fill: red;
    z-index: 5;
    top: 21%;
    left: -2%;
    width: 600px;
} */

.schatten img {
    width: 100%;
    height: auto;
}
   /* stroke: red;
    top: 14%;
    left: 15%;
} */


#visu {

    position: absolute;
    top: 28%;
    left: auto;
    z-index: 2;
}

#box {
    position: absolute;
    top: 40%;
    left: 6.5%;
    z-index: 3;
}

#image>img:last-of-type(2) {
    width: 24%;
    height: auto

}

#component-right-side {
    background-image: url(/images/schatten.svg);
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: contain;
    background-position-x: -8%;
    background-color: var(--backwhite);
    padding: 65px 95px 83px 95px;
    border-radius: 23px;
    width: 64%;
    height: 60.27%;
    display: flex;
    justify-content: flex-end;
    position: relative;


}
#faq {
    width: 47.9%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.section {
    border-bottom: solid 1px var(--bordergrey);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    height: auto;
}



/*CLASSLISTS*/
/*section*/


/*answer*/
.answer {
    display: none;
}

.answer.open {
    display: initial;
}

.tobottom {
    content: url(../images/tobottom.svg);
}

/*QUESTIONS*/
a {
    height: 18px;
    text-decoration: none;
    color: var(--basicgrey);
    font-size: 0.875rem;
    line-height: 1.085rem;
    display: block;
    width: 100%;
}


.question {
    display: flex;
    width: 100%;
}

a:hover {
    color: var(--hoverpink);
}

a:focus {
    font-weight: bold;
    color: var(--basicgrey);
}

a:active {
    color: var(--basicgrey);
}


/*ANSWERS*/


p.answers {
    font-size: 0.875rem;
}

.answer {
    width: 100%;
    height: auto;
    word-wrap: break-word;
}



