#view {
    width: 100svw;
    box-sizing: border-box;
}

#box {
    display: none;
}

#visu {
    width: 60%;
    height: auto;
}

#faq {
    width: 60%;
    justify-content: space-between;
}

.section {
    height: 80%;
}

#component {
    align-items: center;
    width: 90%;
}



