#view {
}

#component {    width: 64%;
height: 50%;
background-color: var(--backwhite);
border-radius: 23px;
display: flex;
gap: 9.4%;
padding: 7% 10% 8.7% 0;
box-sizing: content-box;
flex-direction: column;
align-content: center;
align-items: center;
}