#view {
    padding: 1.5rem; /*à modifier*/
    width: 100%;
    box-sizing: border-box;
}

#box {
    display: none;
}

#image {
    width: 100%;
    margin: 0;
}

/*A MODIFIER POSITIONNEMENT*/

#component {
    align-items: center;
}



