#view {
    width: 100svw;
    height: 100svh;
    box-sizing: border-box;
    padding: 148px 24px 85px 1.5rem;
    align-items: flex-start;
}

#box {
    display: none;
}

#visu {
width: 74%;
}

.section {
    width: 100%;
}

a {
    font-size: 0.8125rem;
}

h1 {
    text-align: center;
    margin-top: 0;
}

#component {
    margin: 0;
    height: fit-content;
    display: block;
    margin-top: 124px;
    box-sizing: border-box;
    padding: 8.25rem 1.5rem 3rem 1.5rem;
}

#component-left-side {
    position: absolute;
    left: 8%;
    top: -35%;
}

#faq {
    height: auto;
}


#component-right-side {
    width: 100%;
    padding: 0;
}

#component-right-side p {
    width: 100%;
    margin: 0;
}


