:root {
    font-size: 100%;
    --basicgrey : #4b4c5F;
    --activeblack: #1E1F36;
    --hoverpink: #F47B56;
    --backwhite: #FFFFFF;
    --bordergrey: #e8e8ea;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    margin: 0;
}

::selection {
    background-color: #5B36A0;
    color: var(--hoverpink);
}

#view {
    background: linear-gradient(rgba(176, 103, 233, 1) 0%, rgba(100, 99, 231, 1)100%);
    width: 100svw;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

#component {
    width: 64%;
    height: auto;
    background-color: var(--backwhite);
    border-radius: 23px;
    display: flex;
    justify-content: space-between;
    gap: 9.4%;
    padding: 7% 10% 8.7% 0;
    box-sizing: content-box;
    position: relative;
}

#image>img {
    position: absolute;
    left: -94px;
    top: 206px;
}


#visu {
    width: 100%;
    height: auto;
}
#image>img:last-of-type(2) {
    width: 24%;
    height: auto

}

#component-right-side {
    width: 42%;
    height: auto;
}

#component-left-side {
    width: auto;
    height: auto;
}

.section {
    border-bottom: solid 1px var(--bordergrey);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 16px 0 16px 0;
    box-sizing: border-box;
    height: auto;
}



/*CLASSLISTS*/
/*section*/


/*answer*/
.answer {
    display: none;
}

.answer.open {
    display: initial;
}

.tobottom {
    content: url(../images/tobottom.svg);
}

/*QUESTIONS*/
a {
    height: 18px;
    text-decoration: none;
    color: var(--basicgrey);
    font-size: 0.875rem;
    line-height: 1.085rem;
    display: block;
    width: 100%;
}


.question {
    display: flex;
    width: 100%;
}

a:hover {
    color: var(--hoverpink);
}

a:focus {
    font-weight: bold;
    color: var(--basicgrey);
}

a:active {
    color: var(--basicgrey);
}


/*ANSWERS*/


p.answers {
    font-size: 0.875rem;
}

.answer {
    width: 100%;
    height: auto;
    word-wrap: break-word;
}

