:root {
    font-size: 1rem;
    --basicgrey : #4b4c5F;
    --activeblack: #1E1F36;
    --hoverpink: #F47B56;
    --backwhite: #FFFFFF;
    --bordergrey: #e8e8ea;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    margin: 0;
}

#view {
    background: linear-gradient(rgba(176, 103, 233, 1) 0%, rgba(100, 99, 231, 1)100%);
    width: 100svw;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#component {
    width: 57.5rem;
    height: 32.5rem;
    background-color: var(--backwhite);
    border-radius: 23px;
    display: flex;
    justify-content: space-between;
    padding: 4.0625rem 5.9375rem 5rem 0;
    margin-left: 42px;
    box-sizing: border-box;
    position: relative;
}

#image>img {
    position: absolute;
    left: -94px;
    top: 206px;
}

#image>img:nth-last-of-type(2) {
    width: 5.625rem;
    top: 45px;

}




#component-right-side {
    width: 50%;
}





.section {
    width: 21.875rem;
    border-bottom: solid 1px var(--bordergrey);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 16px 0 16px 0;
    box-sizing: border-box;
}

/*CLASSLISTS*/
/*section*/
 .section {
    height: auto;
 }

/*answer*/
.answer {
    display: none;
}

.answer.open {
    display: initial;
}


.tobottom {
    content: url(../images/tobottom.svg);
}

/*QUESTIONS*/
a {
    height: 18px;
    width: 21.875rem;
    text-decoration: none;
    color: var(--basicgrey);
    font-size: 0.875rem;
    line-height: 1.085rem;
    display: flex;
    justify-content: space-between;
}

a:hover {
    color: var(--hoverpink);
}

a:focus {
    font-weight: bold;
    color: var(--basicgrey);
}

a:active {
    color: var(--basicgrey);
}

a::after {
    content: url(../images/tobottom.svg);
    rotate:calc(180) ;
}

a:focus::after {
    content: url(../images/totop.svg);
}

/*ANSWERS*/


p.answers {
    font-size: 0.875rem;
}

