#view {
    width: 100svw;
    height: 100svh;
    box-sizing: border-box;
    padding: 19.27% 6.4% 0 6.4%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#box {
    display: none;
}

#visu {
    position: absolute;
    top: -2.4%;
    height: auto;
    width: 90%;
    left: 2%;

}

.section {
    width: 100%;
}

a {
    font-size: 0.8125rem;
}

h1 {
    text-align: center;
    margin-top: 0;
}

#component-right-side {
    margin: 0;
    height: 90%;
    width: 100%;
    background-image: none;

    display: block;
    box-sizing: border-box;
    padding: 24.67% 6.4% 8.9% 6.4%;

}

#faq {
    width: 100%;
    height: 90%;
}

.schatten {
    display: none;
}

#component-right-side p {
    width: 100%;
    margin: 0;
}

#image {
    margin: 0;
    width: 64%;
    height: auto;
}


