:root {
    font-size: 100%;
    --basicgrey : #4b4c5F;
    --activeblack: #1E1F36;
    --hoverpink: #F47B56;
    --backwhite: #FFFFFF;
    --bordergrey: #e8e8ea;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    margin: 0;
}

#view {
    width: 100svw;
    box-sizing: border-box;
}

#box {
    display: none;
}

#visu {
    width: 60%;
    height: auto;
}

#faq {
    width: 60%;
    justify-content: space-between;
}

.section {
    height: 80%;
}

#component-right-side {

    background-image: none;
}



